---
import Panel from '../components/Panel.svelte';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link>
    <title>Astro</title>
  </head>
  <body>
    <h1>AstroFilms</h1>
    <Panel client:only="svelte"></Panel>
  </body>
</html>

<style>
    body{
        background-color: rgb(23 23 23);
    }

    h1{
        color: #e74c3c;
    }
</style>
